<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="perfclipse.toolbars.perforateToolbar">
            <command
                  commandId="Perfclipse.commands.perforateCommand"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="Perfclipse.menus.sampleMenu"
               label="Perforation">
            <command
                  commandId="Perfclipse.commands.perforateSelection"
                  label="Perforate Selection"
                  style="push">
            </command>
            <command
                  commandId="Perfclipse.commands.runPerforation"
                  label="Run Perforation"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="handlers.PerforateSelectionHandler"
            commandId="Perfclipse.commands.perforateSelection">
      </handler>
      <handler
            class="handlers.RunPerforationHandler"
            commandId="Perfclipse.commands.runPerforation">
      </handler>
      <handler
            class="handlers.RunIndividualAnalysis"
            commandId="Perfclipse.commands.runIndividualAnalysis">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="Perfclipse.commands.codePerforationCategory"
            name="Code Perforation">
      </category>
      <command
            categoryId="Perfclipse.commands.codePerforationCategory"
            id="Perfclipse.commands.perforateSelection"
            name="Perforate Selection">
      </command>
      <command
            categoryId="Perfclipse.commands.codePerforationCategory"
            id="Perfclipse.commands.runPerforation"
            name="Run Perforation">
      </command>
      <command
            categoryId="Perfclipse.commands.codePerforationCategory"
            id="Perfclipse.commands.RunIndividualAnalysis"
            name="Run Individual Analysis">
      </command>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="handlers.CustomJavaAppDelegate"
            id="Perfclipse.launchConfigurationTypes.custom"
            name="Custom Launch Java App">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="CustomLaunchConfigurationDelegate.Image"
            icon="CustomLaunchConfigurationDelegate.Image"
            id="CustomLaunchConfigurationDelegate.Image">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="handlers.JavaAppLaunchConfigurationTabGroup"
            id="Perfclipse.launchConfigurationTabGroups.customJavaApp"
            type="Perfclipse.launchConfigurationTabGroups.customJavaApp">
      </launchConfigurationTabGroup>
   </extension>

</plugin>
