<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="perfclipse.toolbars.perforateToolbar">
            <command
                  commandId="Perfclipse.commands.perforateCommand"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="Perfclipse.menus.sampleMenu"
               label="Perforation">
            <command
                  commandId="Perfclipse.commands.extractLoop"
                  label="Extract Loop"
                  style="push">
            </command>
            <command
                  commandId="Perfclipse.commands.perforateSelection"
                  label="Perforate Selection"
                  style="push">
            </command>
            <command
                  commandId="Perfclipse.commands.individualLoopAnalysis"
                  label="Individual Loop Analysis"
                  style="push">
            </command>
            <command
                  commandId="Perfclipse.commands.runPerforation"
                  label="Multi-Loop Analysis"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="handlers.PerforateSelectionHandler"
            commandId="Perfclipse.commands.perforateSelection">
      </handler>
      <handler
            class="handlers.RunPerforationHandler"
            commandId="Perfclipse.commands.runPerforation">
      </handler>
      <handler
            class="handlers.RunIndividualAnalysis"
            commandId="Perfclipse.commands.individualLoopAnalysis">
      </handler>
      <handler
            class="perfclipse.main.ViewResults"
            commandId="Perfclipse.commands.viewResults">
      </handler>
      <handler
            class="handlers.ExtractLoopHandler"
            commandId="Perfclipse.commands.extractLoop">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="Perfclipse.commands.codePerforationCategory"
            name="Code Perforation">
      </category>
      <command
            categoryId="Perfclipse.commands.codePerforationCategory"
            id="Perfclipse.commands.perforateSelection"
            name="Perforate Selection">
      </command>
      <command
            categoryId="Perfclipse.commands.codePerforationCategory"
            id="Perfclipse.commands.runPerforation"
            name="Run Perforation">
      </command>
      <command
            categoryId="Perfclipse.commands.codePerforationCategory"
            id="Perfclipse.commands.individualLoopAnalysis"
            name="Individual Loop Analysis">
      </command>
      <command
            categoryId="Perfclipse.commands.codePerforationCategory"
            id="Perfclipse.commands.viewResults"
            name="View Results">
      </command>
      <command
            category="Code Perforation"
            id="Perfclipse.commands.extractLoop"
            name="Extract Loop">
      </command>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="handlers.CustomJavaAppDelegate"
            id="Perfclipse.launchConfigurationTypes.custom"
            name="Custom Launch Java App">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="CustomLaunchConfigurationDelegate.Image"
            icon="CustomLaunchConfigurationDelegate.Image"
            id="CustomLaunchConfigurationDelegate.Image">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="handlers.JavaAppLaunchConfigurationTabGroup"
            id="Perfclipse.launchConfigurationTabGroups.customJavaApp"
            type="Perfclipse.launchConfigurationTabGroups.customJavaApp">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         id="Perfclipse.greenMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <super
            type="org.eclipse.core.resources.marker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="Perfclipse.greenAnnotation"
            colorPreferenceKey="clcolor"
            colorPreferenceValue="0,255,0"
            icon="icons/sample.gif"
            label="GreenAnnotation"
            overviewRulerPreferenceKey="clruler"
            overviewRulerPreferenceValue="false"
            textPreferenceKey="cltext"
            textPreferenceValue="true"
            textStylePreferenceKey="clstyle"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="clvertical"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerUpdaters">
      <updater
            class="markers.GreenMarkerUpdater"
            id="Perfclipse.GreenMarkerUpdater">
      </updater>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="Perfclipse.greenMarker"
            name="Perfclipse.greenAnnotation"
            super="org.eclipse.ui.workbench.texteditor.info">
      </type>
   </extension>

</plugin>
